<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>index</key>
		<integer>0</integer>
		<key>icon</key>
		<string>piano5</string>
		<key>title</key>
		<string>彩色钢琴</string>
	</dict>
	<dict>
		<key>index</key>
		<integer>1</integer>
		<key>icon</key>
		<string>piano5</string>
		<key>title</key>
		<string>记忆中的古钢琴</string>
	</dict>
	<dict>
		<key>index</key>
		<integer>2</integer>
		<key>icon</key>
		<string>piano5</string>
		<key>title</key>
		<string>黑白琴键，弹奏生活色彩</string>
	</dict>
	<dict>
		<key>index</key>
		<integer>3</integer>
		<key>icon</key>
		<string>piano5</string>
		<key>title</key>
		<string>永恒的经典钢琴电影</string>
	</dict>
	<dict>
		<key>index</key>
		<integer>4</integer>
		<key>icon</key>
		<string>piano5</string>
		<key>title</key>
		<string>莫扎特传记</string>
	</dict>
</array>
</plist>
